.skillGrid {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(100pt, 1fr));
    pointer-events: none;
}

.skillGrid img {
    width: 80pt;
}

@media (max-width: 768px) {
    .skillGrid {
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(50pt, max-content));
        justify-content: center;
    }
    
    .skillGrid img {
        width: 50pt;
    }
}

.jpnBioContainer {
    background-color: #1e1f22;
    padding: 16pt;
    border-radius: 20px;
}

.langBioSwitch {
    text-align: end;
}

#jpnBtn {
    margin-right: 6pt; 
    color: grey;
}

#engBtn {
    margin-right: 6pt; 
}