.dropdown {
	position: relative;
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 38px;
	height: 12px;
	transform: translate(-170%, 0);
	margin-bottom: 70px;
}

.dropdown-table {}

.dropdownbtn {
	background-color: #808080;
	color: black;
	padding: 12px 38px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.dropdownbtn-white {
	background-color: white;
	color: black;
	padding: 12px 38px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}


.dropdowncontent {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-height: 300px;
	overflow: auto;	
	text-align: center;
	left: 50%;
	right: auto;
	transform: translate(-11%, 0);
}

.dropdowncontent-table {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-height: 300px;
	overflow: auto;	
	text-align: center;
	left: 50%;
	right: auto;
	transform: translate(-49%, 0) scaleX(0.9);
    /*width on w3.css to be the same with as the table*/
}

.dropdowncontent a {
	color: black;
	padding: 12px 28px;
	text-decoration: none;
	display: block;
}

.dropdowncontent-table a {
	color: black;
	padding: 12px 28px;
	text-decoration: none;
	display: block;
}

.dropdowncontent a:hover {background-color: #A9A9A9}

.dropdown:hover .dropdowncontent {display:block}

.dropdown:hover .dropdownbtn {background-color: white}



.dropdown-table:hover .dropdownbtn {background-color:white}

.dropdown-table:hover .dropdowncontent {display:block}

.dropdown-table:hover .dropdownbtn-white {background-color:white}

.dropdown:hover .dropdownbtn-white {background-color: white}

.dropdowncontent-table a:hover {background-color: #A9A9A9}

.dropdown:hover .dropdowncontent-table {display:block}

.dropdown-table:hover .dropdowncontent-table {display:block}


